/* aboutSection.css */

.about-container {
    background-color: #d3d3d3a2;
    color: #282C30;
    font-family: 'Merriweather', serif;
    padding:80px 8% ;
    max-height: 60vh; /* Set max height to 60vh */
    overflow: visible; /* Add scroll bar if content exceeds 60vh */
  }
  
  .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }
  
  .animation {
    flex: 1;
    margin-right: 50px;
}

.about-Img{
      width: 580px;
      animation: popup 3s infinite alternate cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    
    @keyframes popup {
      0% {
        transform: translate(0%, -2%);
      }
      100% {
        transform: translate(0%, 2%);
      }
    }
  .content {
    flex: 2;
    width: 60%;
  }
  
  h2 {
    color: #3B82F6;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.301), 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.507);
    margin-bottom: 20px;
}

p {
    
    color:  #282C30 ;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 1.2rem; /* Increased font size for better readability */
    line-height: 2; /* Increased line height for better readability */
    margin-bottom: 15px; /* Increased margin between paragraphs */
  }
  
  .strong-word{
      color:black !important;
      font-weight: 900;
      
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }